body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
}

.transparente {
  background-color: transparent;
}

h1 {
  color: blanchedalmond;
  margin: 0;
  text-align: center;
  align-content: center;
  padding: 0.5rem;
}

h2 {
  color: peru;
  padding: 1rem;
}

.card-title {
  color: blanchedalmond;
}

.card {
  max-width: 16rem;
  border: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 50%;
  align-content: center;
}

.contenedor_bt_productos {
  text-align: center;
}

.texto_producto {
  padding-left: 1rem;
  padding-right: 1rem;
  color: blanchedalmond;
}

.texto_producto_resaltado {
  padding-left: 1rem;
  padding-right: 1rem;
  color: saddlebrown;
  font-weight: bold;
}

.btn_productos {
  color: saddlebrown;
  border-color: saddlebrown;
  border:2;
  margin-bottom: 1rem;
}

/* home */
#home {
  background-image: url(IMAGENES/Central/imagenCentral.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  align-content: center;
}

/* productos */



/* locales */

/* contacto */

@media screen and (max-width: 540px) {
  .row {
    flex-direction: column;
  }
}
