body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
}

.transparente {
  background-color: transparent;
}

h1 {
  color: blanchedalmond;
  margin: 0;
  text-align: center;
  align-content: center;
  padding: 0.5rem;
}

h2 {
  color: peru;
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* home */
#home {
  background-image: url(IMAGENES/Central/imagenCentral.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  align-content: center;
}

.card-title {
  color: blanchedalmond;
}

.card {
  max-width: 16rem;
  border: none;
}

i {
  color: peru;
  font-size: 4.5rem;
}
/* productos */

.column {
  flex: 50%;
  align-content: center;
}

.contenedor_bt_productos {
  text-align: center;
}

.texto_producto {
  padding-left: 1rem;
  padding-right: 1rem;
  color: blanchedalmond;
}

.texto_producto_resaltado {
  padding-left: 1rem;
  padding-right: 1rem;
  color: saddlebrown;
  font-weight: bold;
}

.btn_productos {
  color: saddlebrown;
  border-color: saddlebrown;
  border: 2;
  margin-bottom: 1rem;
}

#productos a:hover {
  color: saddlebrown;
  background-color: rgb(38, 39, 39);
}

#producto42 {
  z-index: 100;
}
/* info */

.columninfo {
  flex: 33%;
  text-align: center;
  justify-content: space-between;
}
/* locales */

/* recetas */
#recetas{
  background-color: rgb(46, 31, 5);
}

#recetas .card{
  background-color:darkkhaki;
}

#recetas .card-title{
  color:black
}
/* contacto */

#form2{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.formu{
  background-color:beige;
  margin-bottom: 1rem;
}

@media screen and (max-width: 540px) {
  .row {
    flex-direction: column;
  }
}
